
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #F2F2F2;
  color: #3E3E3E;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4A90E2;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  height: 64px;
  padding: 0 40px;
}

#header div {
  display: flex;
  align-items: center;
}

#header div a {
  color: #FFF;
  text-decoration: none;
}

#header div img {
  margin-left: 16px;
}

#post-list {
  margin: 20px;
}

.post {
  max-width: 700px;
  background: #FFF;
  margin: 0 auto;
  border-radius: 5px;
  padding: 24px;
  margin-top: 24px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}

.post header {
  display: flex;
}

.post header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.post header p {
  font-weight: bold;
}

.post header small {
  font-size: 11px;
  color: #9A9A9A;
}

.post > p {
  padding: 24px 0;
  border-bottom: 1px solid #EEEEEE;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.post .comment {
  display: flex;
}

.post .comment img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 10px;
}

.post .comment p {
  background: #EEEEEE;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
} 